# API Configuration
# Copy this file to .env and update the URLs as needed
REACT_APP_DEV_API_URL=http://localhost:3001
REACT_APP_STAGING_API_URL=http://v63094.12105.tallyprimecloud.in:3001
REACT_APP_PRODUCTION_API_URL=http://v63094.12105.tallyprimecloud.in:3001

# Copyright Configuration
REACT_APP_COPYRIGHT_TEXT=IT Catalyst Software India Pvt Ltd
REACT_APP_COPYRIGHT_ORANGE_PART=IT 