DANGEROUSLY_DISABLE_HOST_CHECK=true

REACT_APP_DEV_API_URL=https://itcatalystindia.com/Development/CustomerPortal_API
REACT_APP_STAGING_API_URL=https://localhost:3000
REACT_APP_PRODUCTION_API_URL=https://localhost:3000

REACT_APP_DEV_API_URL_ser=https://itcatalystindia.com/Development/CustomerPortal_API
REACT_APP_STAGING_API_URL_ser=https://itcatalystindia.com/Development/CustomerPortal_API
REACT_APP_PRODUCTION_API_URL_ser=https://itcatalystindia.com/Development/CustomerPortal_API

REACT_APP_HOMEPAGE_ser=/Development/CustomerPortal

REACT_APP_ENCRYPTION_KEY=

REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_API_KEY=
REACT_APP_GOOGLE_CLIENT_SECRET=

REACT_APP_META_APP_ID=
REACT_APP_META_API_VERSION=v18.0